// src/components/chart.scss
.chart_sec {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;

    .title {
        font-size: 22px;
        margin-bottom: 15px;
        color: #333;
        text-align: center;
    }
}
